<a href="https://colab.research.google.com/github/khatriprajwol/Assessment/blob/main/Data_Analyst_Task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#`Assessment for Metro Technology `

#Introduction

This project includes the assessment for Metro Technology. In this project I am analyzing the data provided by the company to tell story out of it.

#Data Analyst Interview Task
Task: Create an Enrollment Report from the data set provided (Data Analyst Task.xlsx) using Microsoft BI (Link), Looker Studio (Link), or a data visualization tool of your choosing. Please include the following in your report:
- Total Enrollment (Current Active Enrollment + Completers)
- Current Active Enrollment
- Enrollment by Site & Program
- % of High School Enrollment
Also include any additional charts, graphs, etc. that you would like to include. Please refer to the Metro Tech Branding & Logo resources on our website (Link) when creating the Enrollment Report. Be prepared to present the Enrollment Report to the interview team and explain the various steps involved in this task. You will have 15 minutes at the beginning of the interview.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from google.colab import data_table

df = pd.read_excel("/content/Data Analyst Task - Excel.xlsx")
data_table.enable_dataframe_formatter()
df.head(20)

,Student UID,Grade Level,Session,Feeder School,Enroll Code,Enroll Date,First InClass Date,Drop Code,Drop Date,Teacher,Site,Gender
0,1371195,31.0,DayTime - BOTH,Adult,2-P,2022-08-08,2022-08-08,--,NaT,"Truitt, Tonja",HCC,F
1,1368024,11.0,DayTime - AM,Harding Charter Prep,2-P,2022-08-08,2022-08-08,--,NaT,"Thomas, Jake",STEM,M
2,1373215,9.0,DayTime - PM,Northwest Classen,2-P,2022-08-11,2022-08-11,--,NaT,"Brown, Floyd",OC,M
3,1372673,9.0,DayTime - PM,Southeast,2-P,2022-08-11,2022-08-11,--,NaT,"Stepeny, Donta",OC,M
4,1361783,11.0,DayTime - PM,Southeast,1-R,2022-08-10,2022-08-10,--,NaT,"Conlee, Sabrina",STEM,F
5,1362971,31.0,DayTime - BOTH,Adult,2-P,2022-08-08,2022-08-08,--,NaT,"Pennington, Chaya",ITC,F
6,1373241,9.0,DayTime - AM,Northwest Classen,2-P,2022-08-11,2022-08-11,--,NaT,"Brown, Floyd",OC,M
7,1367772,11.0,DayTime - AM,ASTEC Charter HS,2-P,2022-08-08,2022-08-08,--,NaT,"Smith, Kenneth",SBC,M
8,1361976,12.0,DayTime - AM,Santa Fe South,1-R,2022-08-08,2022-08-08,--,NaT,"Manaugh, Cameron",HCC,F
9,1375170,34.0,DayTime - PM,Adult,2-P,2023-01-03,2023-01-03,--,NaT,"Adams, Mike",ITC,M
10,1364539,8.0,DayTime - PM,Millwood HS,1-R,2022-08-16,2022-08-16,--,NaT,"Harding, James",OC,M
11,1369838,38.0,DayTime - BOTH,Adult,2-P,2022-08-08,2022-08-08,--,NaT,"Truitt, Tonja",HCC,F
12,1367685,11.0,DayTime - AM,Southeast,2-P,2022-08-08,2022-08-08,--,NaT,"Anderson, Brenda",ITC,F
13,1372674,9.0,DayTime - AM,Southeast,2-P,2022-08-11,2022-08-11,--,NaT,"Stepeny, Donta",OC,F
14,1363987,10.0,DayTime - PM,Southeast,2-P,2022-08-08,2022-08-08,--,NaT,"Thomas, Jake",STEM,M
15,1351100,31.0,Evening - 2,Adult,2-P,2022-08-08,2022-08-08,--,NaT,"Watkins, Tyler",SBC,M
16,1373242,9.0,DayTime - AM,Northwest Classen,2-P,2022-08-11,2022-08-11,--,NaT,"Brown, Floyd",OC,M
17,1372676,9.0,DayTime - PM,Southeast,2-P,2022-08-11,2022-08-11,--,NaT,"Stepeny, Donta",OC,M
18,1367720,11.0,DayTime - AM,Southeast,2-P,2022-08-08,2022-08-08,--,NaT,"Moore-Adams, Taiseka",ITC,F
19,1368538,12.0,DayTime - PM,Southeast,2-P,2022-08-08,2022-08-08,--,NaT,"Post-Vails, Stacey",STEM,F

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2020 entries, 0 to 2019
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Student UID         2020 non-null   int64
 1   Grade Level         2019 non-null   float64
 2   Session             2020 non-null   object
 3   Feeder School       2020 non-null   object
 4   Enroll Code         2020 non-null   object
 5   Enroll Date         2019 non-null   datetime64[ns]
 6   First InClass Date  1900 non-null   datetime64[ns]
 7   Drop Code           2020 non-null   object
 8   Drop Date           468 non-null    datetime64[ns]
 9   Teacher             2020 non-null   object
 10  Site                2020 non-null   object
 11  Gender              2020 non-null   object
dtypes: datetime64[ns](3), float64(1), int64(1), object(7)
memory usage: 189.5+ KB

In [ ]:
df.columns

Index(['Student UID', 'Grade Level', 'Session', 'Feeder School', 'Enroll Code',
       'Enroll Date', 'First InClass Date', 'Drop Code', 'Drop Date',
       'Teacher', 'Site', 'Gender'],
      dtype='object')